<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="/img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> abc@naver.com</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__auth" sec:authorize="isAnonymous()">
                                <a href="/members/loginForm"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <div class="header__top__right__auth" sec:authorize="isAuthenticated()">
                                <a onclick="logout()"><i class="fa fa-user"></i> Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="/"><img src="../../image/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/item/cate?largeItemType=O&sm=0">OUTER</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/item/cate?largeItemType=O&&subItemType=ja&sm=0">자켓</a></li>
                                    <li><a href="/item/cate?largeItemType=O&&subItemType=jum&sm=0">점퍼</a></li>
                                </ul>
                            </li>
                            <li><a href="/item/cate?largeItemType=T">TOP</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/item/cate?largeItemType=T&&subItemType=ts&sm=0">티셔츠</a></li>
                                    <li><a href="/item/cate?largeItemType=T&&subItemType=n&sm=0">니트</a></li>
                                    <li><a href="/item/cate?largeItemType=T&&subItemType=shr&sm=0">셔츠</a></li>
                                </ul>
                            </li>
                            <li><a href="/item/cate?largeItemType=P">PANTS</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/item/cate?largeItemType=P&&subItemType=pa&sm=0">바지</a></li>
                                    <li><a href="/item/cate?largeItemType=P&&subItemType=sl&sm=0">슬랙스</a></li>
                                </ul>
                            </li>
                            <li><a href="/item/cate?largeItemType=D">DRESS</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/item/cate?largeItemType=D&&subItemType=sk&sm=0">치마</a></li>
                                    <li><a href="/item/cate?largeItemType=D&&subItemType=dr&sm=0">원피스</a></li>
                                </ul>
                            </li>
                            <li><a href="/item/cate?largeItemType=A">ACT</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/item/cate?largeItemType=A&&subItemType=sh&sm=0">신발</a></li>
                                    <li><a href="/item/cate?largeItemType=A&&subItemType=ba&sm=0">신발</a></li>
                                </ul>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                <a  href="/admin/item/new">상품 등록</a>
                            </li>
                            <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                <a href="/admin/items">상품 관리</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="/user/likePage"><i class="fa fa-heart"></i> </a></li>
                            <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="/item/cate?largeItemType=O&&subItemType=ja">자켓 </a></li>
                            <li><a href="/item/cate?largeItemType=O&&subItemType=jum">점퍼  </a></li>
                            <li><a href="/item/cate?largeItemType=T&&subItemType=ts">티셔츠 </a></li>
                            <li><a href="/item/cate?largeItemType=T&&subItemType=n">니트</a></li>
                            <li><a href="/item/cate?largeItemType=T&&subItemType=shr">셔츠</a></li>
                            <li><a href="/item/cate?largeItemType=P&&subItemType=pa">바지</a></li>
                            <li><a href="/item/cate?largeItemType=P&&subItemType=sl">슬랙스</a></li>
                            <li><a href="/item/cate?largeItemType=D&&subItemType=sk">치마</a></li>
                            <li><a href="/item/cate?largeItemType=D&&subItemType=dr">원피스</a></li>
                            <li><a href="/item/cate?largeItemType=A&&subItemType=sh">신발</a></li>
                            <li><a href="/item/cate?largeItemType=A&&subItemType=ba">기타</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="/item/search" method="get" class="search_form" >
                                <div class="hero__search__categories">
                                    Enter Item Name
                                </div>
                                <input class="search_input" type="text" name="searchBy"  placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>

                    </div>
                    <div class="hero__item set-bg" data-setbg="../../image/hero/backimg.jpg">
                        <div class="hero__text">
                            <span>CLOTHES</span>
                            <h2>CLOTHES <br />Your Style</h2>
                            <p>Free Pickup and Delivery Available</p>
                            <a href="/" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../../image/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>상품등록</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <span>상품등록</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click here</a> to enter your code
                    </h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="/admin/item/new" enctype="multipart/form-data" method="post" th:object="${itemDto}">
                    <input type="hidden" th:field="*{id}"> <!--수정-->
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <select th:field="*{sellStatus}">
                                            <option value="SELL">판매중</option>
                                            <option value="SOLD_OUT">품절</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                    <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>상품명<span>*</span></p>
                                        <input type="text" th:field="*{itemNm}" placeholder="상품명을 입력하세요">
                                    </div>
                                    <p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}">IncorrectData</p>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 30px">
                                    <div class="checkout__input">
                                        <p>카테고리<span>*</span></p>
                                        <select th:field="*{largeItemType}">
                                            <option value="O">선택</option>
                                            <option value="O">OUTER</option>
                                            <option value="T">TOP</option>
                                            <option value="P">PANTS</option>
                                            <option value="D">DRESS</option>
                                            <option value="A">ACT</option>
                                        </select>

                                        <select th:field="*{subItemType}">
                                            <option value="ja">선택</option>
                                            <option value="ja">자켓</option>
                                            <option value="jum">점퍼</option>
                                            <option value="ts">티셔츠</option>
                                            <option value="shr">셔츠</option>
                                            <option value="n">니트</option>
                                            <option value="pa">바지</option>
                                            <option value="sl">슬랙스</option>
                                            <option value="sk">치마</option>
                                            <option value="dr">원피스</option>
                                            <option value="sh">신발</option>
                                            <option value="ba">가방</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>가격<span>*</span></p>
                                        <input type="text" th:field="*{price}" placeholder="가격을 입력하세요">
                                    </div>
                                    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">IncorrectData</p>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>재고<span>*</span></p>
                                <input type="text" th:field="*{stock}" placeholder="재고를 입력하세요">
                            </div>
                            <p th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}">IncorrectData</p>
                            <div class="checkout__input">
                                <p>상품상세 설명<span>*</span></p>
                                <textarea class="form-control" aria-label="With textarea" th:field="*{itemDtl}"></textarea>
                            </div>
                            <p th:if="${#fields.hasErrors('itemDtl')}" th:errors="*{itemDtl}">IncorrectData</p>


                            <!--상품 이미지 등록 전-->
                            <div class="checkout__input">
                                <div th:if="${#lists.isEmpty(itemDto.itemImgDtoList)}">
                                 <div class="form-group" th:each="num: ${#numbers.sequence(1,5)}">
                                     <div class="custom-file img-div">
                                         <input type="file" class="custom-file-input" name="itemImgFile">
                                         <label class="custom-file-label" th:text="상품이미지 + ${num}"></label>
                                     </div>
                                 </div>
                                </div>

                                <!--상품 이미지 등록 후-->
                                <div th:if="${not #lists.isEmpty(itemDto.itemImgDtoList)}">
                                    <div class="form-group" th:each="imgDto, status: ${itemDto.itemImgDtoList}">
                                        <div class="custom-file img-div">
                                            <input type="file" class="custom-file-input" name="itemImgFile">
                                            <input type="hidden" name="imgId" th:value="${imgDto.id}">
                                            <label class="custom-file-label" th:text="${not #strings.isEmpty(imgDto.itemOriginNm)} ? ${imgDto.itemOriginNm} : '상품이미지' + ${status.index+1}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${#strings.isEmpty(itemDto.id)}" style="text-align: center">
                        <button th:formaction="@{/admin/item/new}" type="submit" class="btn btn-primary">저장</button>
                    </div>
                    <div th:unless="${#strings.isEmpty(itemDto.id)}" style="text-align: center">
                        <button th:formaction="@{/admin/item/upd}" type="submit" class="btn btn-primary">수정</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.nice-select.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>
    <script src="../../js/jquery.slicknav.js"></script>
    <script src="../../js/mixitup.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/main.js"></script>

</body>
<script th:inline="javascript">
    $(document).ready(function(){
    var errorMessage = [[${errorMessage}]];
    if(errorMessage != null){
    alert(errorMessage);
    }
    bindDomEvent();
    });

     function bindDomEvent(){
            $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();  //이미지 파일명
                var fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
                fileExt = fileExt.toLowerCase(); //소문자 변환

                if(fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp"){
                    alert("이미지 파일만 등록이 가능합니다.");
                    return;
                }

                $(this).siblings(".custom-file-label").html(fileName);
            });
        }

        function logout(){
        console.log("logout");
        $.ajax({
        type : 'POST',
        url : '/members/logout',
        success : function(result){
        alert("로그아웃");
        location.href="/";
        },
        error : function(jqXHR, status, error){
        alert(jqXHR.responseText);
        }
        });
        }

    </script>
</html>