<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <style>
        .hero__item set-bg{
        width: 850px;
        height: 400px;
        object-fit: cover;
        }
        .col-lg-9 col-md-7{
            margin: 100px;
            }
        .product__item__text{
        padding: 40px;
        font-size: 25px;
        }
    </style>
</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Humberger Begin -->
<div class="humberger__menu__overlay"></div>
<div class="humberger__menu__wrapper">
    <div class="humberger__menu__logo">
        <a href="/"><img src="../image/logo.png" alt=""></a>
    </div>
    <div class="humberger__menu__cart">
        <ul>
            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
            <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
        </ul>
        <div class="header__cart__price">item: <span>$150.00</span></div>
    </div>
    <div class="humberger__menu__widget">
        <div class="header__top__right__language">
            <img src="../image/language.png" alt="">
            <div>English</div>
            <span class="arrow_carrot-down"></span>
            <ul>
                <li><a href="#">Spanis</a></li>
                <li><a href="#">English</a></li>
            </ul>
        </div>
        <div class="header__top__right__auth">
            <a href="#"><i class="fa fa-user"></i> Login</a>
        </div>
    </div>
    <nav class="humberger__menu__nav mobile-menu">
        <ul>
            <li class="active"><a href="./index.html">Home</a></li>
            <li><a href="./shop-grid.html">Shop</a></li>
            <li><a href="#">Pages</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">Shop Details</a></li>
                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                    <li><a href="./checkout.html">Check Out</a></li>
                    <li><a href="./blog-details.html">Blog Details</a></li>
                </ul>
            </li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="./contact.html">Contact</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="header__top__right__social">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest-p"></i></a>
    </div>
    <div class="humberger__menu__contact">
        <ul>
            <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
            <li>Free Shipping for all Order of $99</li>
        </ul>
    </div>
</div>
<!-- Humberger End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul>
                            <li><i class="fa fa-envelope"></i> abc@naver.com</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__auth" sec:authorize="isAnonymous()">
                            <a href="/members/loginForm"><i class="fa fa-user"></i> Login</a>
                        </div>
                        <div class="header__top__right__auth" sec:authorize="isAuthenticated()">
                            <a href="/members/logout"><i class="fa fa-user"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="/"><img src="../image/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/item/cate?largeItemType=O&sm=0">OUTER</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/item/cate?largeItemType=O&&subItemType=ja&sm=0">자켓</a></li>
                                <li><a href="/item/cate?largeItemType=O&&subItemType=jum&sm=0">점퍼</a></li>
                            </ul>
                        </li>
                        <li><a href="/item/cate?largeItemType=T">TOP</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/item/cate?largeItemType=T&&subItemType=ts&sm=0">티셔츠</a></li>
                                <li><a href="/item/cate?largeItemType=T&&subItemType=n&sm=0">니트</a></li>
                                <li><a href="/item/cate?largeItemType=T&&subItemType=shr&sm=0">셔츠</a></li>
                            </ul>
                        </li>
                        <li><a href="/item/cate?largeItemType=P">PANTS</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/item/cate?largeItemType=P&&subItemType=pa&sm=0">바지</a></li>
                                <li><a href="/item/cate?largeItemType=P&&subItemType=sl&sm=0">슬랙스</a></li>
                            </ul>
                        </li>
                        <li><a href="/item/cate?largeItemType=D">DRESS</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/item/cate?largeItemType=D&&subItemType=sk&sm=0">치마</a></li>
                                <li><a href="/item/cate?largeItemType=D&&subItemType=dr&sm=0">원피스</a></li>
                            </ul>
                        </li>
                        <li><a href="/item/cate?largeItemType=A">ACT</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="/item/cate?largeItemType=A&&subItemType=sh&sm=0">신발</a></li>
                                <li><a href="/item/cate?largeItemType=A&&subItemType=ba&sm=0">신발</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <a  href="/admin/item/new">상품 등록</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <a href="/admin/items">상품 관리</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="/user/likePage"><i class="fa fa-heart"></i> </a></li>
                        <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="/item/cate?largeItemType=O&&subItemType=ja">자켓 </a></li>
                        <li><a href="/item/cate?largeItemType=O&&subItemType=jum">점퍼  </a></li>
                        <li><a href="/item/cate?largeItemType=T&&subItemType=ts">티셔츠 </a></li>
                        <li><a href="/item/cate?largeItemType=T&&subItemType=n">니트</a></li>
                        <li><a href="/item/cate?largeItemType=T&&subItemType=shr">셔츠</a></li>
                        <li><a href="/item/cate?largeItemType=P&&subItemType=pa">바지</a></li>
                        <li><a href="/item/cate?largeItemType=P&&subItemType=sl">슬랙스</a></li>
                        <li><a href="/item/cate?largeItemType=D&&subItemType=sk">치마</a></li>
                        <li><a href="/item/cate?largeItemType=D&&subItemType=dr">원피스</a></li>
                        <li><a href="/item/cate?largeItemType=A&&subItemType=sh">신발</a></li>
                        <li><a href="/item/cate?largeItemType=A&&subItemType=ba">기타</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/item/search" method="get" class="search_form" >
                            <div class="hero__search__categories">
                                Enter Item Name
                            </div>
                            <input class="search_input" type="text" name="searchBy" th:value="${searchDto.searchBy} " placeholder="What do yo u need?">
                            <input class="search_sm" th:id="sm" name="sm" th:value=" ${sm}">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>

                </div>
                <div class="hero__item set-bg" data-setbg="../image/hero/backimg.jpg">
                    <div class="hero__text">
                        <span>CLOTHES</span>
                        <h2>CLOTHES <br />Your Style</h2>
                        <p>Free Pickup and Delivery Available</p>
                        <a href="/" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../image/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>검색 결과</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-7">
                <!-- <div class="product__discount">
                     <div class="section-title product__discount__title">
                         <h2>Sale Off</h2>
                     </div>
                     <div class="row">
                         <div class="product__discount__slider owl-carousel">
                             <div class="col-lg-4">
                                 <div class="product__discount__item">
                                     <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-1.jpg">
                                         <div class="product__discount__percent">-20%</div>
                                         <ul class="product__item__pic__hover">
                                             <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                             <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                             <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                         </ul>
                                     </div>
                                     <div class="product__discount__item__text">
                                         <span>Dried Fruit</span>
                                         <h5><a href="#">Raisin’n’nuts</a></h5>
                                         <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-4">
                                 <div class="product__discount__item">
                                     <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-2.jpg">
                                         <div class="product__discount__percent">-20%</div>
                                         <ul class="product__item__pic__hover">
                                             <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                             <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                             <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                         </ul>
                                     </div>
                                     <div class="product__discount__item__text">
                                         <span>Vegetables</span>
                                         <h5><a href="#">Vegetables’package</a></h5>
                                         <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-4">
                                 <div class="product__discount__item">
                                     <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-3.jpg">
                                         <div class="product__discount__percent">-20%</div>
                                         <ul class="product__item__pic__hover">
                                             <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                             <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                             <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                         </ul>
                                     </div>
                                     <div class="product__discount__item__text">
                                         <span>Dried Fruit</span>
                                         <h5><a href="#">Mixed Fruitss</a></h5>
                                         <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-4">
                                 <div class="product__discount__item">
                                     <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-4.jpg">
                                         <div class="product__discount__percent">-20%</div>
                                         <ul class="product__item__pic__hover">
                                             <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                             <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                             <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                         </ul>
                                     </div>
                                     <div class="product__discount__item__text">
                                         <span>Dried Fruit</span>
                                         <h5><a href="#">Raisin’n’nuts</a></h5>
                                         <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-4">
                                 <div class="product__discount__item">
                                     <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-5.jpg">
                                         <div class="product__discount__percent">-20%</div>
                                         <ul class="product__item__pic__hover">
                                             <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                             <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                             <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                         </ul>
                                     </div>
                                     <div class="product__discount__item__text">
                                         <span>Dried Fruit</span>
                                         <h5><a href="#">Raisin’n’nuts</a></h5>
                                         <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                     </div>
                                 </div>
                             </div>
                             <div class="col-lg-4">
                                 <div class="product__discount__item">
                                     <div class="product__discount__item__pic set-bg"
                                         data-setbg="img/product/discount/pd-6.jpg">
                                         <div class="product__discount__percent">-20%</div>
                                         <ul class="product__item__pic__hover">
                                             <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                             <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                             <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                         </ul>
                                     </div>
                                     <div class="product__discount__item__text">
                                         <span>Dried Fruit</span>
                                         <h5><a href="#">Raisin’n’nuts</a></h5>
                                         <div class="product__item__price">$30.00 <span>$36.00</span></div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>-->
                <div class="filter__item">
                    <div class="row">
                        <div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <select id="sm_id" name="sm" onchange="sort(this)">
                                    <option id="sort_1" value="0">높은 가격 순</option>
                                    <option id="sort_2" value="1">등록 순</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="filter__found">
                                <h6><span id="product_count">0개</span> Products found</h6>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3">
                            <div class="filter__option">
                                <span class="icon_grid-2x2"></span>
                                <span class="icon_ul"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row featured__filter">
                    <th:block th:each="item , status: ${item.getContent()}">

                        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
                            <div class="featured__item">
                                <input type="hidden" th:id="count" th:value="${count}">
                                <a th:href=" '/item/' + ${item.id}" class="text-dark">
                                    <div class="featured__item__pic set-bg">
                                        <img th:src="${item.imgUrl}" th:alt="${item.itemNm}">
                                        <!--<ul class="featured__item__pic__hover">
                                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>-->
                                    </div>
                                    <!-- </a>-->
                                    <div class="featured__item__text">
                                        <h6 th:text="${item.itemNm}"> <a th:href=" '/item/' + ${item.id}" class="text-dark"></a></h6>
                                    </div>
                            </div>
                        </div>

                    </th:block>
                </div>

                <div th:with="start=${(item.number/maxPage)*maxPage + 1}, end=(${(item.totalPages == 0) ? 1 : (start + (maxPage - 1) < item.totalPages ? start + (maxPage - 1) : item.totalPages)})" >
                    <ul class="pagination justify-content-center">

                        <li class="page-item" th:classappend="${item.number eq 0}?'disabled':''">
                            <a th:href="@{'/search?searchBy='+ ${searchDto.searchBy}+'&sm='+${sm}+
                                     '&page=' + ${item.number-1} }"
                               aria-label='Previous' class="page-link">
                                <span aria-hidden='true'>Previous</span>
                            </a>
                        </li>

                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${item.number eq page-1}?'active':''">
                            <a th:href="@{'/search?searchBy='+ ${searchDto.searchBy}+'&sm='+${sm}+
                                     '&page=' + ${page-1} }" th:inline="text" class="page-link">[[${page}]]</a>
                        </li>

                        <li class="page-item" th:classappend="${item.number+1 ge item.totalPages}?'disabled':''">
                            <a th:href="@{'/search?searchBy='+ ${searchDto.searchBy}+'&sm='+${sm}+
                                     '&page=' + ${item.number+1} }" aria-label='Next' class="page-link">
                                <span aria-hidden='true'>Next</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--<a href="#"><i class="fa fa-long-arrow-right"></i></a>-->

            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                    <ul>
                        <li>Address: 60-49 Road 11378 New York</li>
                        <li>Phone: +65 11.188.888</li>
                        <li>Email: hello@colorlib.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">About Our Shop</a></li>
                        <li><a href="#">Secure Shopping</a></li>
                        <li><a href="#">Delivery infomation</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Our Sitemap</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Innovation</a></li>
                        <li><a href="#">Testimonials</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest shop and special offers.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<!--<script src="../js/jquery.nice-select.min.js"></script>-->
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/jquery.slicknav.js"></script>
<script src="../js/mixitup.min.js"></script>
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/main.js"></script>
<script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>

$(document).ready(function(){
        var aa = $("#count").val();
        console.log("개수:" + aa);
       $("#product_count").html(aa);
         var num =  $("#sm").val();
         console.log("번호:"+num);
         if(num == 0){
            $("#sort_1").attr('selected','selected');
            }else if(num == 1){
             $("#sort_2").attr('selected','selected');
            }
});
    function sort(ob){
    console.log("실행!!!!!!");
    var num =  $("#sm_id option:selected").val();
    var search = $(".search_input").val();
   location.href="/item/search?searchBy="+search+"&sm="+num;
   };

function logout(){
console.log("logout");
$.ajax({
type : 'POST',
url : '/members/logout',
success : function(result){
alert("로그아웃");
location.href="/";
},
error : function(jqXHR, status, error){
alert(jqXHR.responseText);
}
});
}
</script>
</body>

</html>